# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [ ]:
# Import sqlite3 and pandas.
import sqlite3 as sl
import pandas as pd
import sqlalchemy as sla
import pyodbc as pc

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [ ]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')
print ("Opened database successfully")

I was trying to drop and reinstall it my table because it was given me 3 entries for each row.

In [5]:
"DROP TABLE IF EXIST favorite_books;"

'DROP TABLE IF EXIST favorite_books;'

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [6]:
# Create a new table in your database.
with con:
    con.execute("""
        CREATE TABLE favorite_books(
            ID int NOT NULL,
            Title TEXT NOT NULL,
            Author TEXT NOT NULL,
            Description TEXT NOT NULL);
            """)
print("Operation done successfully")

OperationalError: table favorite_books already exists

SyntaxError: invalid syntax (Temp/ipykernel_15380/139323564.py, line 1)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [ ]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books (ID, Title, Author, Description) values(?, ?, ?, ?)'
data=[
    (1, '1984', 'Geogre Orwell', 'A novel about totalitarion government that controls'
     'the people and suppress all ideals against their own. With Big Brother watching' 
     'your every move'),
    (2, 'Where the Wild Things Are', 'Maurice Sendak', 'Max exscape to a fantasy land'
     'and become king of a group of wild brutes called the wild things'),
    (3, 'The Great Gatsby', 'F. Scott Fitzgerald','This novel takes place during Probition'
     ',where bootleggers became millionares and organized crime increased. Nick Carraway idolized the riches and glamor of ' 
     'the age, he was unconfortable with the unrestrained materialism and the lack of morality that '
     'went with  it.')
]

with con:
    con.executemany(sql, data)
    
print("Operation done successfully")

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [7]:
# Write your SELECT query here.
with con:
    data = con.execute("SELECT*  FROM favorite_books WHERE ID==1")
    for row in data:
        print(row)

(1, '1984', 'Geogre Orwell', 'A novel about totalitarion government that controlsthe people and suppress all ideals against their own. With Big Brother watchingyour every move')
(1, '1984', 'Geogre Orwell', 'A novel about totalitarion government that controlsthe people and suppress all ideals against their own. With Big Brother watchingyour every move')
(1, '1984', 'Geogre Orwell', 'A novel about totalitarion government that controlsthe people and suppress all ideals against their own. With Big Brother watchingyour every move')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [23]:
# Use Pandas to make a new table in your database.
favorite_movies=pd.DataFrame({
    'ID':[1,2,3],
    'Title':['Django', 'Star Wars', 'Iron Man']
})

In [24]:
favorite_movies.to_sql('fave_movies', con)

In [27]:
with con:
     data=con.execute("SELECT*  FROM fave_movies")
     for row in data:
        print(row)

(0, 1, 'Django')
(1, 2, 'Star Wars')
(2, 3, 'Iron Man')